@import '../../assets/styles/utils/variables';

.toast-container {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 1000;
    max-width: 320px;
}

.toast {
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 1rem 2rem;
    border-radius:30px;
    font-size: 0.9rem;
    min-width: 150px;
    text-align: center;
    transform-origin: center;
    font-weight: 500;
    letter-spacing: -0.01em;

    @mixin slideAnimation($name, $startY, $midY, $endY) {
        @keyframes #{$name} {
            0% {
                opacity: 0;
                transform: translateY($startY);
            }

            50% {
                transform: translateY($midY);
            }

            70% {
                transform: translateY($endY);
            }

            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    @include slideAnimation(slideIn, 100%, -10%, 5%);
    animation: slideIn 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);

    @keyframes slideOut {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(100%);
        }
    }

    &.hide {
        animation: slideOut 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }

    &.success {
        background: #2ecc71;
    }

    &.error {
        background: #e74c3c;
    }

    &.remove {
        background: #f39c12;
    }
}
